html {
    margin:0;
    padding:0;
    background-color: rgb(249, 249, 249);
    @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
    font-family: 'Permanent Marker', cursive;
}


body {
    margin-left: 0;
    margin-right:0px;
    margin-top:0;
}


main{
    padding: 0px;
    margin-left: 16px;
}

footer{
    margin-top: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
    bottom: 0;
    background-color:  rgba(255, 163, 149, 1);
    width: 100%;
    position: absolute;
    font-size:20px;


}

nav {
    margin:0px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 16px;
    background-color:  rgba(255, 163, 149, 1);
    width: 100%;
    color: aliceblue;

}

a {
    text-decoration: none;
    color: rgba(255, 163, 149, 1);

}


nav>ul>li>a {
    color: aliceblue;

}

.table {
    width: 100%;
    text-align: center;

}

.taco-pics{
    display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    /* grid-template-rows: 1fr;
    grid-template-areas:
        "pic1 pic2 pic3 pic4 "
        "pic5";
}

.pic1{
    grid-area: pic1;
}
.pic2{
    grid-area: pic2;
}
.pic3{
    grid-area: pic3;
}
.pic4{
    grid-area: pic4;
}
.pic5{
    grid-area: pic5;
} */
